/* Existing CSS */

.cart-li {
    list-style: none;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 50%;
}

.cart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-image {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    object-fit: cover; /* Ensure image maintains aspect ratio */
}

.cart-rest {
    margin-left: 10px;
}

.dish-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-dish {
    flex: 1; /* Allow dish name to take remaining space */
}

.quantity-control {
    display: flex;
    align-items: center;
    position: relative;
}

.quantity {
    background-color: hsl(204, 22%, 95%);
    color: hsl(0, 4%, 9%);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
  
}

.price {
    font-weight: bold; /* Make price bold */
}

/* New CSS for buttons */
.button1 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 80px;
}

.button2 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 20px;
}


.button:hover {
    background-color: #0056b3;
}

.res-name {
    margin-left: 300px;
}

.grand-total {
   margin-left: 500px;
   position: relative;
   display: block;
    
}

.checkout {
    position: inherit;
    margin-left: 645px;
    padding: 12px;
   
}

 .emptycart-image {
  margin-left: 550px;
  margin-top: 100px;
  
}

.emptycart-heading {
    margin-left: 580px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }